In [1]:
#pip install pymupdf pdfplumber pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pymupdf
  Downloading pymupdf-1.25.5-cp39-abi3-win_amd64.whl.metadata (3.4 kB)
Collecting pdfplumber
  Downloading pdfplumber-0.11.6-py3-none-any.whl.metadata (42 kB)
Requirement already satisfied: pandas in c:\program files\python313\lib\site-packages (2.2.3)
Collecting pdfminer.six==20250327 (from pdfplumber)
  Downloading pdfminer_six-20250327-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: Pillow>=9.1 in c:\users\finrise\appdata\roaming\python\python313\site-packages (from pdfplumber) (11.1.0)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.30.1-py3-none-win_amd64.whl.metadata (48 kB)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\program files\python313\lib\site-packages (from pdfminer.six==20250327->pdfplumber) (3.4.1)
Collecting cryptography>=36.0.0 (from pdfminer.six==20250327->pdfplumber)
  Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\finrise\appdata\roaming\python\python313\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\program files\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: cffi>=1.12 in c:\program files\python313\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in c:\program files\python313\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (2.22)
Downloading pymupdf-1.25.5-cp39-abi3-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   ----- ---------------------------------- 2.4/16.6 MB 12.1 MB/s eta 0:00:02
   ---------- ----------------------------- 4.2/16.6 MB 10.7 MB/s eta 0:00:02
   ------------- -------------------------- 5.5/16.6 MB 8.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.6 MB 8.2 MB/s eta 0:00:02
   ------------------- -------------------- 8.1/16.6 MB 7.7 MB/s eta 0:00:02
   ---------------------- ----------------- 9.2/16.6 MB 7.4 MB/s eta 0:00:01
   ------------------------- -------------- 10.5/16.6 MB 7.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.8/16.6 MB 7.1 MB/s eta 0:00:01
   ------------------------------- -------- 13.1/16.6 MB 7.0 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.6 MB 6.9 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.6 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 6.0 MB/s eta 0:00:00
Downloading pdfplumber-0.11.6-py3-none-any.whl (60 kB)
Downloading pdfminer_six-20250327-py3-none-any.whl (5.6 MB)
   ---------------------------------------- 0.0/5.6 MB ? eta -:--:--
   ------- -------------------------------- 1.0/5.6 MB 6.3 MB/s eta 0:00:01
   ---------------- ----------------------- 2.4/5.6 MB 6.2 MB/s eta 0:00:01
   -------------------------- ------------- 3.7/5.6 MB 6.2 MB/s eta 0:00:01
   ----------------------------------- ---- 5.0/5.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 5.6/5.6 MB 5.6 MB/s eta 0:00:00
Downloading pypdfium2-4.30.1-py3-none-win_amd64.whl (3.0 MB)
   ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
   -------------- ------------------------- 1.0/3.0 MB 5.7 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 7.5 MB/s eta 0:00:01
   -------------------------------------- - 2.9/3.0 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------- 3.0/3.0 MB 4.5 MB/s eta 0:00:00
Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl (3.2 MB)
   ---------------------------------------- 0.0/3.2 MB ? eta -:--:--
   ---------------- ----------------------- 1.3/3.2 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------- 3.2/3.2 MB 8.0 MB/s eta 0:00:00
Installing collected packages: pypdfium2, pymupdf, cryptography, pdfminer.six, pdfplumber
Successfully installed cryptography-44.0.2 pdfminer.six-20250327 pdfplumber-0.11.6 pymupdf-1.25.5 pypdfium2-4.30.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script pypdfium2.exe is installed in 'C:\Users\FINRISE\AppData\Roaming\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script pymupdf.exe is installed in 'C:\Users\FINRISE\AppData\Roaming\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script pdfplumber.exe is installed in 'C:\Users\FINRISE\AppData\Roaming\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

 Step 1: Import Required Libraries

In [29]:
import os
import fitz  # PyMuPDF
import pdfplumber
import pandas as pd
import warnings
import warnings
warnings.filterwarnings("ignore", message="CropBox missing from /Page, defaulting to MediaBox")

Step 2: Setup File Paths

In [30]:
# Define folder path
pdf_folder = r"C:\Users\FINRISE\Desktop\Task data scie\case_study_FTE\case_study_FTE\case_study_1\data\section_two_data"

In [31]:
pdf_folder

'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data'

In [32]:
# List all PDF files
pdf_files = [os.path.join(pdf_folder, file) for file in os.listdir(pdf_folder) if file.endswith('.pdf')]

In [33]:
pdf_files

['C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\CYBER SECURITY (R18A0521).pdf',
 'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\Cyber Security Essentials ( PDFDrive ).pdf',
 'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\CyberCrimes-CommonTypes.pdf',
 'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\cybersecuirty_sb_factsheets_all.pdf',
 'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf',
 'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data\\Introduction-cyber-security.pdf']

Step 3: Extract All Text (Master DataFrame)

In [34]:
def extract_text_from_pdfs(pdf_files):
    records = []
    for file in pdf_files:
        doc = fitz.open(file)
        for page_num, page in enumerate(doc, start=1):
            text = page.get_text()
            records.append({
                'file': os.path.basename(file),
                'page': page_num,
                'text': text
            })
        doc.close()
    return pd.DataFrame(records)

# Call the function
master_dataframe = extract_text_from_pdfs(pdf_files)
master_dataframe.head()

,file,page,text
0,CYBER SECURITY (R18A0521).pdf,1,CYBER SECURITY \nPage 1 \n \nDIGITAL NOTES \nO...
1,CYBER SECURITY (R18A0521).pdf,2,CYBER SECURITY \nPage 2 \n \nMALLA REDDY COLLE...
2,CYBER SECURITY (R18A0521).pdf,3,CYBER SECURITY \nPage 3 \n \nUNIT - V \nPrivac...
3,CYBER SECURITY (R18A0521).pdf,4,CYBER SECURITY \nPage 4 \n \n ...
4,CYBER SECURITY (R18A0521).pdf,5,CYBER SECURITY \nPage 5 \n \nUNIT-I \nIntroduc...

Markdown: This step extracts plain text from every page of each PDF and creates a unified DataFrame.

Step 4: Extract Bold Text

In [35]:
def extract_bold_text(pdf_files):
    bold_records = []
    for file in pdf_files:
        doc = fitz.open(file)
        for page_num, page in enumerate(doc, start=1):
            blocks = page.get_text("dict")["blocks"]
            bold_text = ""
            for b in blocks:
                for l in b.get("lines", []):
                    for s in l.get("spans", []):
                        if "bold" in s["font"].lower():
                            bold_text += s["text"] + " "
            bold_records.append({
                'file': os.path.basename(file),
                'page': page_num,
                'bold_text': bold_text.strip()
            })
        doc.close()
    return pd.DataFrame(bold_records)

# Call the function
master_dataframe_two = extract_bold_text(pdf_files)
master_dataframe_two.head()

,file,page,bold_text
0,CYBER SECURITY (R18A0521).pdf,1,DIGITAL NOTES ON CYBER SECURITY (R18A0521) ...
1,CYBER SECURITY (R18A0521).pdf,2,MALLA REDDY COLLEGE OF ENGINE ERING AND TECHNO...
2,CYBER SECURITY (R18A0521).pdf,3,UNIT - V Privacy Issues: Cybercrime: Example...
3,CYBER SECURITY (R18A0521).pdf,4,MALLA REDDY COLLEGE OF ENGINEERING & TECHNOLOG...
4,CYBER SECURITY (R18A0521).pdf,5,UNIT-I Introduction to Cyber Security Cyber ...

Markdown: This function iterates through each span and checks if the font contains "bold" to extract bold text.

Step 5: Extract Underlined Text

In [36]:
def extract_underlined_text(pdf_files):
    underline_records = []
    for file in pdf_files:
        doc = fitz.open(file)
        for page_num, page in enumerate(doc, start=1):
            blocks = page.get_text("dict")["blocks"]
            underlined_text = ""
            for b in blocks:
                for l in b.get("lines", []):
                    for s in l.get("spans", []):
                        if s.get("underline", 0):  # underline = 1
                            underlined_text += s["text"] + " "
            underline_records.append({
                'file': os.path.basename(file),
                'page': page_num,
                'underlined_text': underlined_text.strip()
            })
        doc.close()
    return pd.DataFrame(underline_records)

# Call the function
master_dataframe_three = extract_underlined_text(pdf_files)
master_dataframe_three.head()

                            file  page underlined_text
0  CYBER SECURITY (R18A0521).pdf     1
1  CYBER SECURITY (R18A0521).pdf     2
2  CYBER SECURITY (R18A0521).pdf     3
3  CYBER SECURITY (R18A0521).pdf     4
4  CYBER SECURITY (R18A0521).pdf     5

Handle Empty Tables Gracefully

In [37]:
def extract_text_from_pdfs(pdf_files):
    """
    Extract plain text from each page of all PDF files.
    Returns a DataFrame with file name, page number, and extracted text.
    """
    records = []
    for file in pdf_files:
        doc = fitz.open(file)
        for page_num, page in enumerate(doc, start=1):
            text = page.get_text()
            records.append({
                'file': os.path.basename(file),
                'page': page_num,
                'text': text
            })
        doc.close()
    return pd.DataFrame(records)

Check if Tables Were Found

In [42]:
print(f"Total tables found: {len(table_data_list)}")

Total tables found: 492

Check Extracted Tables from All PDF

In [43]:
# Extract tables
table_data_list = extract_tables_from_pdfs(pdf_files)

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

This will help you verify if the extracted tables look as expected or if any are misaligned or empty.

In [45]:
#You can inspect them with this:


for i, record in enumerate(table_data_list):
    print(f"\nTable #{i+1} from file: {record['file']} (Page {record['page']})")
    display(record['table_data'].head())  # or use print(record['table_data']) if not in Jupyter

Table #1 from file: CYBER SECURITY (R18A0521).pdf (Page 4)

       0     1                                              2        3
0  S. No  Unit                                          Topic  Page no
1      1     I            Cyber security introduction -Basics        5
2      2     I                             Layers of Security        9
3      3     I  Security vulnerabilities, threats and Attacks       11
4      4     I                    Cyber Threats-Cyber-Warfare       16

Table #2 from file: CYBER SECURITY (R18A0521).pdf (Page 5)

                                                   0
0  Cyber security is the most concerned matter as...
1  Attackers are now using more sophisticated tec...
2  small-scale businesses or large organization, ...
3  whether IT or non-IT firms have understood the...
4  on adopting all possible measures to deal with...

Table #3 from file: CYBER SECURITY (R18A0521).pdf (Page 5)

                                                   0
0  The term cyber security refers to techniques a...
1                                              data.

Table #4 from file: CYBER SECURITY (R18A0521).pdf (Page 5)

                                                   0
0  Cyber security is the protection of Internet-c...
1                       and data from cyber attacks.

Table #5 from file: CYBER SECURITY (R18A0521).pdf (Page 5)

                                                   0
0  Cyber is related to the technology which conta...
1                                              data.

Table #6 from file: CYBER SECURITY (R18A0521).pdf (Page 5)

                                                   0
0  Whereas security related to the protection whi...
1  security and application and information secur...

Table #7 from file: CYBER SECURITY (R18A0521).pdf (Page 6)

                                                   0
0  Because of the above reasons, cyber security h...
1  business and the focus now is on developing ap...
2         the damage in the event of a cyber attack.

Table #8 from file: CYBER SECURITY (R18A0521).pdf (Page 6)

                                                   0
0  But, an organization or an individual can deve...
1  he has a good grip on cyber security fundament...

Table #9 from file: CYBER SECURITY (R18A0521).pdf (Page 7)

                                                   0
0                             Types of Cyber Attacks
1  A cyber-attack is an exploitation of computer ...
2  alter computer code, logic or data and lead to...
3                                             theft.

Table #10 from file: CYBER SECURITY (R18A0521).pdf (Page 7)

                         0
0     1) Web-based attacks
1  2) System-based attacks

Table #11 from file: CYBER SECURITY (R18A0521).pdf (Page 7)

                                                   0
0                                  Web-based attacks
1  These are the attacks which occur on a website...
2                  web-based attacks are as follows-
3                               1. Injection attacks
4  It is the attack in which some data will be in...

Table #12 from file: CYBER SECURITY (R18A0521).pdf (Page 8)

                                                   0
0                               6. Denial of Service
1  It is an attack which meant to make a server o...
2  accomplishes this by flooding the target with ...
3  crash. It uses the single system and single in...
4                     classified into the following-

Table #13 from file: CYBER SECURITY (R18A0521).pdf (Page 9)

                                                   0
0                                            2. Worm
1  It is a type of malware whose primary function...
2  computers. It works same as the computer virus...
3  attachments that appear to be from trusted sen...
4                                    3. Trojan horse

Table #14 from file: CYBER SECURITY (R18A0521).pdf (Page 10)

                                                   0
0  The 7 layers of cyber security should centre o...
1                                           protect.
2  1: Mission Critical Assets – This is the data ...
3  2: Data Security – Data security controls prot...
4  3: Application Security – Applications securit...

Table #15 from file: CYBER SECURITY (R18A0521).pdf (Page 10)

                                                   0
0  As the recent epidemic of data breaches illust...
1  company that manages, transmits, stores, or ot...
2  enforce mechanisms to monitor their cyber envi...
3             security holes as quickly as possible.
4  Before identifying specific dangers to modern ...

Table #16 from file: CYBER SECURITY (R18A0521).pdf (Page 11)

                                                   0
0  Computer criminals have access to enormous amo...
1  have the potential to cripple much of effectiv...
2  world. In a sense, the purpose of computer sec...
3                                            damage.

Table #17 from file: CYBER SECURITY (R18A0521).pdf (Page 11)

                                                   0
0  We say computer crime is any crime involving a...
1  Although this definition is admittedly broad, ...
2  ourselves, our businesses, and our communities...

Table #18 from file: CYBER SECURITY (R18A0521).pdf (Page 11)

                                                   0
0  One approach to prevention or moderation is to...
1  why. Many studies have attempted to determine ...
2  studying those who have already used computers...
3  future to spot likely criminals and prevent th...

Table #19 from file: CYBER SECURITY (R18A0521).pdf (Page 11)

                                                   0
0  The CIA Triad is actually a security model tha...
1                about various parts of IT security.

Table #20 from file: CYBER SECURITY (R18A0521).pdf (Page 12)

                                                   0
0  The CIA Triad is all about information. While ...
1  majority of IT security, it promotes a limited...
2                                           factors.
3  For example, even though availability may serv...
4  resources needed to provide information when i...

Table #21 from file: CYBER SECURITY (R18A0521).pdf (Page 12)

,0,1,2
0,"For example: An employee’s desktop computer, l...",None,None
1,"considered an asset, as would applications on ...",None,None
2,"such as servers and support systems, are assets.",None,An organization’s most common assets are
3,information assets. These are things such as d...,None,None
4,data that you store,,None

Table #22 from file: CYBER SECURITY (R18A0521).pdf (Page 13)

                                                   0
0  What is a threat: A threat is any incident tha...
1  example, if it’s lost, knocked offline or acce...
2  Threats can be categorized as circumstances th...
3  availability of an asset, and can either be in...
4  Intentional threats include things such as cri...

Table #23 from file: CYBER SECURITY (R18A0521).pdf (Page 13)

                                                   0     1
0                                Motive of Attackers  None
1  The categories of cyber-attackers enable us to...  None
2  and the actions they take. As shown in Figure,...  None
3  three types of actions: i) inadvertent actions...  None
4  malicious or harmful intent; ii) deliberate ac...  None

Table #24 from file: CYBER SECURITY (R18A0521).pdf (Page 13)

                                                   0
0  1. Political motivations: examples include des...
1  targets; espionage; and making political state...
2  2. Economic motivations: examples include thef...
3  economically valuable assets (e.g., funds, cre...
4             espionage and sabotage; and blackmail.

Table #25 from file: CYBER SECURITY (R18A0521).pdf (Page 14)

                                                   0
0  Active attacks: An active attack is a network ...
1  changes to data on the target or data en route...
2                           Types of Active attacks:
3  Masquerade: in this attack, the intruder prete...
4  access or to gain greater privileges than they...

Table #26 from file: CYBER SECURITY (R18A0521).pdf (Page 14)

                           0
0
1  Types of Passive attacks:

Table #27 from file: CYBER SECURITY (R18A0521).pdf (Page 14)

                                                   0
0  Software Attacks: Malicious code (sometimes ca...
1  designed to take over or damage a computer use...
2  knowledge or approval. It can be very difficul...
3  malware examples are listed in the following t...
4

Table #28 from file: CYBER SECURITY (R18A0521).pdf (Page 15)

               0     1 2                                                  3
0         Attack                                            Characteristics
1          Virus  None    A virus is a program that attempts to damage a...
2           Worm  None    A worm is a self-replicating program that can ...
3  Trojan\nhorse  None    A Trojan horse is a malicious program that is ...
4    Logic\nBomb  None    A Logic Bomb is malware that lies dormant unti...

Table #29 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0
0   Manufacturing backdoors, for malware or othe...
1  aren’t limited to software and hardware, but t...
2   frequency identification (RFID) chips and memory
3   Eavesdropping by gaining access to protected...
4                                           hardware

Table #30 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0     1
0   Hardware modification tampering with invasiv...  None
1   Backdoor creation; the presence of hidden me...  None
2                             authentication systems  None
3   Counterfeiting product assets that can produ...  None
4          made to gain malicious access to systems.  None

Table #31 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0
0  Cyber warfare involves the actions by a nation...
1  and attempt to damage another nation's compute...
2  example, computer viruses or denial-of-service...

Table #32 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0
0  Cybercrime is criminal activity that either ta...
1  or a networked device.Cybercrime is committed ...
2  to make money. Cybercrime is carried out by in...
3  Some cybercriminals are organized, use advance...
4                skilled. Others are novice hackers.

Table #33 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0
0  Examples are hacking into computer systems, in...
1  networks, web site defacing, Denial-of-service...
2                          electronic communication.

Table #34 from file: CYBER SECURITY (R18A0521).pdf (Page 16)

                                                   0
0  Cyber spying, or cyber espionage, is the act o...
1  information without the permission and knowled...

Table #35 from file: CYBER SECURITY (R18A0521).pdf (Page 17)

                                                   0
0  individuals, competitors, rivals, groups, gove...
1  economic, political or military advantage usin...

Table #36 from file: CYBER SECURITY (R18A0521).pdf (Page 17)

  0
0
1

Table #37 from file: CYBER SECURITY (R18A0521).pdf (Page 17)

                                                   0
0                                 Security Policies:
1  Security policies are a formal set of rules wh...
2  user who are authorized to access company tech...
3  rules and guidelines related to the security o...
4  A security policy also considered to be a "liv...

Table #38 from file: CYBER SECURITY (R18A0521).pdf (Page 17)

                                                   0
0  We use security policies to manage our network...
1  automatically created during the installation....
2                              specific environment.

Table #39 from file: CYBER SECURITY (R18A0521).pdf (Page 17)

                                                   0
0                         Need of Security policies-
1                        1) It increases efficiency.
2        2) It upholds discipline and accountability
3            3) It can make or break a business deal
4  4) It helps to educate employees on security l...

Table #40 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                                      0 1
0  Virus and Spyware Protection policy:

Table #41 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                                                   0
0   It helps to detect threads in files, to dete...
1                                          behavior.
2   Removes, and repairs the side effects of vir...

Table #42 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                  0 1
0  Firewall Policy:

Table #43 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                                                   0
0   It blocks the unauthorized users from access...
1                                   to the Internet.
2   It detects the attacks by cybercriminals and...
3                                           traffic.

Table #44 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                                                   0
0   This policy automatically detects and blocks...
1   It also protects applications from vulnerabi...
2  more data packages and detects malware which i...

Table #45 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

                                                   0
0   This policy protects a system's resources fr...
1    peripheral devices that can attach to a system.
2   The device control policy applies to both Wi...
3  application control policy can be applied only...

Table #46 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

  0
0
1

Table #47 from file: CYBER SECURITY (R18A0521).pdf (Page 18)

  0
0
1
2
3
4

Table #48 from file: CYBER SECURITY (R18A0521).pdf (Page 19)

                                                   0
0  Cyberspace can be defined as an intricate envi...
1  people, software, and services. It is maintain...
2  and communication technology devices and netwo...

Table #49 from file: CYBER SECURITY (R18A0521).pdf (Page 19)

                                                   0
0  With the benefits carried by the technological...
1  become a common pool used by citizens, busines...
2  military and governments in a fashion that mak...
3  these different groups. The cyberspace is anti...
4  upcoming years, with the increase in networks ...

Table #50 from file: CYBER SECURITY (R18A0521).pdf (Page 21)

                                                   0
0  Indian cyberspace was born in 1975 with the es...
1  (NIC) with an aim to provide govt with IT solu...
2  between 1986 and 1988 to connect various agenc...
3  which connected the IBM mainframe installation...
4  infrastructure, NICNET (the NIC NW) a nationwi...

Table #51 from file: CYBER SECURITY (R18A0521).pdf (Page 22)

                                                   0
0  access through mobile phones and tablets. Govt...
1  broadband penetration from its present level o...
2  million households by 2016 under the National ...

Table #52 from file: CYBER SECURITY (R18A0521).pdf (Page 22)

                                                   0
0  National Cyber Security Policy is a policy fra...
1  Information Technology. It aims at protecting ...
2  cyberattacks. The policy also intends to safeg...
3  (of web users), financial and banking informat...
4  relevant in the wake of US National Security A...

Table #53 from file: CYBER SECURITY (R18A0521).pdf (Page 22)

                                                   0
0  To build a secure and resilient cyberspace for...
1  protect anyone from intervening in user's priv...

Table #54 from file: CYBER SECURITY (R18A0521).pdf (Page 22)

                                                   0
0  To protect information and information infrast...
1  prevent and respond to cyber threat, reduce vu...
2  incidents through a combination of institution...
3                                       cooperation.
4                                          OBJECTIVE

Table #55 from file: CYBER SECURITY (R18A0521).pdf (Page 22)

                                                   0
0   To create a secure cyber ecosystem in the co...
1  confidence in IT system and transactions in cy...
2               of IT in all sectors of the economy.
3   To create an assurance framework for the des...
4  and enabling actions for compliance to global ...

Table #56 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Computer forensics is the application of inves...
1                                 preserve evidence.

Table #57 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Forensic examiners typically analyze data from...
1  assistants, cell phones, servers, tapes, and a...
2  anything from breaking encryption, to executin...
3  team, to recovering and analyzing files from h...
4             most serious civil and criminal cases.

Table #58 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Digital Forensics is defined as the process of...
1  documentation of computer evidence which can b...
2  finding evidence from digital media like a com...
3  provides the forensic team with the best techn...
4                                     related cases.

Table #59 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Digital forensic science is a branch of forens...
1  investigation of material found in digital dev...

Table #60 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Computer forensics is also important because i...
1  technical standpoint, the main goal of compute...
2  analyze data in a way that preserves the integ...
3                       effectively in a legal case.

Table #61 from file: CYBER SECURITY (R18A0521).pdf (Page 23)

                                                   0
0  Digital evidence is information stored or tran...
1  court. It can be found on a computer hard driv...
2  evidence is commonly associated with electroni...
3  pornography or credit card fraud. However, dig...
4  types of crimes, not just e-crime. For example...

Table #62 from file: CYBER SECURITY (R18A0521).pdf (Page 24)

                                                   0
0  In an effort to fight e-crime and to collect r...
1  enforcement agencies are incorporating the col...
2  known as computer forensics, into their infras...
3  challenged by the need to train officers to co...
4  evolving technologies such as computer operati...

Table #63 from file: CYBER SECURITY (R18A0521).pdf (Page 24)

                                                   0
0  E-mail forensics refers to the study of source...
1  actual sender and recipient of a message, data...
2  transaction, intent of the sender, etc. This s...
3  searching, port scanning, etc. for authorship ...
4  Various approaches that are used for e-mail fo...

Table #64 from file: CYBER SECURITY (R18A0521).pdf (Page 24)

                                                   0     1
0   Header Analysis – Meta data in the e-mail me...  None
1  information i.e. envelope and headers includin...  None
2  information about the sender and/or the path a...  None
3  Some of these may be spoofed to conceal the id...  None
4  analysis of these headers and their correlatio...  None

Table #65 from file: CYBER SECURITY (R18A0521).pdf (Page 24)

                                                   0
0   Server Investigation – In this investigation...
1  logs are investigated to identify source of an...
2  clients (senders or receivers) whose recovery ...
3  servers (Proxy or ISP) as most of them store a...
4  deliveries. Further, logs maintained by server...

Table #66 from file: CYBER SECURITY (R18A0521).pdf (Page 24)

                                                   0
0   Network Device Investigation – In this form ...
1  by the network devices such as routers, firewa...

Table #67 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0
0  the source of an e-mail message. This form of ...
1  only when the logs of servers (Proxy or ISP) a...
2  when ISP or proxy does not maintain a log or l...
3                     to maintain chain of evidence.

Table #68 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0
0   Software Embedded Identifiers – Some informa...
1  attached files or documents may be included wi...
2  used by the sender for composing e-mail. This ...
3  form of custom headers or in the form of MIME ...
4  Encapsulation Format (TNEF). Investigating the...

Table #69 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0
0   Sender Mailer Fingerprints – Identification ...
1  can be revealed from the Received header field...
2  handling e-mail at client can be ascertained b...
3  Mailer” or equivalent. These headers describe ...
4  the clients to send e-mail. This information a...

Table #70 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0
0                              EMAIL FORENSICS TOOLS
1  Erasing or deleting an email doesn’t necessari...
2  can be forensically extracted even after delet...
3  traditional detective work. It is used for ret...

Table #71 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0     1
0   MiTec Mail Viewer – This is a viewer for Out...  None
1  Mail/Windows Live Mail, Mozilla Thunderbird me...  None
2  files. It displays a list of contained message...  None
3  ordinary e-mail client. Messages can be viewed...  None
4  attachments and an HTML preview. It has powerf...  None

Table #72 from file: CYBER SECURITY (R18A0521).pdf (Page 25)

                                                   0
0   eMailTrackerPro – eMailTrackerPro analyses t...
1  IP address of the machine that sent the messag...
2  down. It can trace multiple e-mails at the sam...
3  The geographical location of an IP address is ...
4     threat level or validity of an e-mail message.

Table #73 from file: CYBER SECURITY (R18A0521).pdf (Page 26)

                                                   0
0   EmailTracer – EmailTracer is an Indian effor...
1  Centre for Cyber Forensics (RCCF) which is a p...
2  India. It develops cyber forensic tools based ...
3                                          agencies.

Table #74 from file: CYBER SECURITY (R18A0521).pdf (Page 27)

        0           1                                                  2
0  S. No.        Type                                        Description
1       1  Encryption  It is legitimately used for ensuring the priva...

Table #75 from file: CYBER SECURITY (R18A0521).pdf (Page 28)

,0,1,2
0,,,information by keeping it hidden from an\nunau...
1,2,Data hiding in storage space,Criminals usually hide chunks of data inside t...
2,3,Covert Channel,A covert channel is a communication protocol\n...

Table #76 from file: CYBER SECURITY (R18A0521).pdf (Page 28)

,0,1,2
0,S.No.,Type,Description
1,1,Absence of guidelines and\nstandards,"In India, there are no proper guidelines for t..."
2,2,"Limitation of the Indian\nEvidence Act, 1872","The Indian Evidence Act, 1872 have limited\nap..."

Table #77 from file: CYBER SECURITY (R18A0521).pdf (Page 29)

  0 1                                                  2
0      matter what procedure is followed it must be p...

Table #78 from file: CYBER SECURITY (R18A0521).pdf (Page 30)

                                                   0
0  INTRODUCTION. Why should mobile devices be pro...
1  lost, stolen, and infected. Mobile devices can...
2  personal information, and are often be used to...

Table #79 from file: CYBER SECURITY (R18A0521).pdf (Page 30)

                                                   0
0  Today, incredible advances are being made for ...
1  devices and more processing power. A few years...
2  phone and a simple PDA. Now the buyers have a ...
3  integrated wireless modems and small phones wi...
4  long list of options is available to the mobil...

Table #80 from file: CYBER SECURITY (R18A0521).pdf (Page 30)

                                                   0
0  Mobile computing is "taking a computer and all...
1  field." Many types of mobile computers have be...
2                                           follows:
3  1. Portable computer: It is a general-purpose ...
4  place to another, but cannot be used while in ...

Table #81 from file: CYBER SECURITY (R18A0521).pdf (Page 31)

                                                   0
0  2. Tablet PC: It lacks a keyboard, is shaped l...
1  of a touchscreen with a stylus and handwriting...
2  suited for applications requiring a physical k...
3  carrying out most tasks that an ordinary lapto...
4  3. Internet tablet: It is the Internet applian...

Table #82 from file: CYBER SECURITY (R18A0521).pdf (Page 31)

                                                   0
0  Mobile computing is moving into a new era, thi...
1  variety in applications and have highly improv...
2  "iPhone" from Apple and Google-led "Android" p...
3  and there are plenty of other developments tha...
4  technology is rapidly gaining popularity and t...

Table #83 from file: CYBER SECURITY (R18A0521).pdf (Page 32)

                                                   0
0  The new technology 3G networks are not entirel...
1  data world when compared to voice-centric secu...
2  are numerous attacks that can be committed aga...
3  from two primary vectors. One is from outside ...
4  private networks and other operator's networks...

Table #84 from file: CYBER SECURITY (R18A0521).pdf (Page 32)

,0,1,2,3,4
0,"1. Malwares, viruses and worms: Although many ...",None,None,None,None
1,switching from,"2G,2.5G2G,2.5G",to,"3G,3G,",it is a growing need to educate the community
2,people and provide awareness of such threats t...,None,None,None,None
3,few examples of malware(s) specific to mobile ...,None,None,None,None

Table #85 from file: CYBER SECURITY (R18A0521).pdf (Page 32)

                                                   0
0  Skull Trojan: I targets Series 60 phones equip...
1  Cabir Worm: It is the first dedicated mobile-p...
2  Symbian OS and scans other mobile devices to s...
3  vulnerable phone it finds through Bluetooth Wi...
4  about this worm is that the source code for th...

Table #86 from file: CYBER SECURITY (R18A0521).pdf (Page 32)

                                                   0
0  2. Denial-of-service (DoS): The main objective...
1  unavailable to the intended users. Virus attac...
2  system unavailable. Presently, one of the most...
3  Internet service providers (iSPs) is a distrib...

Table #87 from file: CYBER SECURITY (R18A0521).pdf (Page 33)

                                                   0
0  attacks are used to flood the target system wi...
1                system is either slowed or stopped.
2  3. Overbilling attack: Overbilling involves an...
3  and then using it (i.e., the connection) to in...
4  simply use it for his/her own purposes. In eit...

Table #88 from file: CYBER SECURITY (R18A0521).pdf (Page 33)

                                                   0
0  Credit Card Frauds in Mobile and Wireless Comp...
1  These are new trends in cybercrime that are co...
2  commerce (M-Commerce) and mobile banking (M-Ba...
3  becoming commonplace given the ever-increasing...
4  mobile hand-held devices, factors that result ...

Table #89 from file: CYBER SECURITY (R18A0521).pdf (Page 33)

                                                   0
0  There is a system available from an Australian...
1  environment for for wireless (CLEW). Figure ab...
2  which is a registered trademark of Alacrity us...
3                                       environment.

Table #90 from file: CYBER SECURITY (R18A0521).pdf (Page 33)

                                                   0
0               Merchant sends a transaction to bank
1  The bank transmits the request to the authoriz...
2  The cardholder approves or rejects (password p...

Table #91 from file: CYBER SECURITY (R18A0521).pdf (Page 34)

                                           0
0              The bank/merchant is notified
1  The credit card transaction is completed.

Table #92 from file: CYBER SECURITY (R18A0521).pdf (Page 34)

                                                   0
0       Security Challenges Posed by Mobile Devices:
1  Mobility brings two main challenges to cyberse...
2  information is being taken outside the physica...
3  access back to the protected environment is be...
4  these cybersecurity challenges are important i...

Table #93 from file: CYBER SECURITY (R18A0521).pdf (Page 34)

                                                   0
0              Registry Settings for Mobile Devices:
1  Let us understand the issue of registry settin...
2  Microsoft Activesync is meant for synchronizat...
3  computers (PCs) and Microsoft Outlook. ActiveS...
4  Windows-powered PC and Windows mobile-powered ...

Table #94 from file: CYBER SECURITY (R18A0521).pdf (Page 34)

                                                   0
0                   Authentication Service Security:
1  There are two components of security in mobile...
2  in networks. A secure network access involves ...
3  base stations or Web servers. This is to ensur...

Table #95 from file: CYBER SECURITY (R18A0521).pdf (Page 35)

                                                   0
0  connected to the network for obtaining the req...
1  impersonate the service provider to trick the ...
2  Thus, the networks also play a crucial role in...
3  Some eminent kinds of attacks to which mobile ...
4                    pull attacks and crash attacks.

Table #96 from file: CYBER SECURITY (R18A0521).pdf (Page 35)

                                                   0
0  Mobile phones have become an integral part of ...
1  transformed from being a luxury to a bare nece...
2  availability of numerous low cost handsets hav...
3  users. Theft of mobile phones has risen dramat...
4  section of working population in India use pub...

Table #97 from file: CYBER SECURITY (R18A0521).pdf (Page 35)

                     0
0     Mobile - Viruses
1   Concept of Mishing
2   Concept of Vishing
3  Concept of Smishing
4  Hacking - Bluetooth

Table #98 from file: CYBER SECURITY (R18A0521).pdf (Page 35)

                                                   0
0  Proliferation of hand-held devices used makes ...
1  would tend to think. People have grown so used...
2  like wallets! For example, people are storing ...
3  mobile computing devices than their employers ...
4  using their-hand-held devices.One should think...

Table #99 from file: CYBER SECURITY (R18A0521).pdf (Page 36)

                                                   0     1
0  account numbers, passwords, confidential E-Mai...  None
1  organization, merger or takeover plans and als...  None
2  stock values in the mobile devices. Imagine th...  None
3  pluggable drive or laptop was lost or stolen, ...  None
4  reports, social security numbers (SSNs) and co...  None

Table #100 from file: CYBER SECURITY (R18A0521).pdf (Page 36)

                                                   0
0  Organizational Policies for the Use of Mobile ...
1  There are many ways to handle the matter of cr...
2  creating distinct mobile computing policy. Ano...
3  policy. There are also approaches in between w...
4  policies and a new one.In the hybrid approach,...

Table #101 from file: CYBER SECURITY (R18A0521).pdf (Page 37)

                                                   0     1
0                                Concept of Laptops:  None
1  As the price of computing technology is steadi...  None
2  laptops is becoming more common. Although lapt...  None
3  business functions owing to their mobile acces...  None
4  also pose a large threat as they are portable ...  None

Table #102 from file: CYBER SECURITY (R18A0521).pdf (Page 38)

      0                                                  1
0  None   Carrying the laptop in a different and unobv...
1  None                                            thieves
2  None   Creating the awareness among the employees t...
3  None  carrying a laptop and also about the sensitivi...
4  None                                             laptop

Table #103 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 19)

                     0                                                  1
0               FACTOR                                           EXAMPLES
1  Something\nYou Know  Information the system assumes others do not k...
2  Something\nYou Have  Something the user possesses that only he or s...
3   Something\nYou Are  A person’s fingerprint, voice print, or retina...

Table #104 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 25)

        0          1       2          3
0  LETTER  FREQUENCY  LETTER  FREQUENCY
1       e     12.70%       m      2.41%
2       t      9.06%       w      2.36%
3       a      8.17%       f      2.23%
4       o      7.51%       g      2.02%

Table #105 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 26)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Clear,T,h,e,,a,c,T,,s,...,t,,m,i,d,n,i,g,h,t
1,Cage,22,19,2,11,5,12,19,5,16,...,24,20,18,2,21,6,5,19,17,21
2,Cipher,O,,g,k,f,o,L,e,h,...,q,t,d,k,y,t,n,z,y,n

Table #106 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #107 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #108 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #109 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #110 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #111 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 32)

  0 1 2 3 4 5 6 7
0

Table #112 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 37)

           0     1
0  Ciphertex  t “1

Table #113 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 43)

   0   1
0  Y  ES

Table #114 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 47)

     0
0
1  YES

Table #115 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 47)

   0  1
0  N  O

Table #116 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 49)

                         0             1                2          3
0          Virtual Machine          None  Virtual Machine       None
1  Virtual Machine Monitor          None             None       None
2         Operating System          None             None       None
3                Real\nI/O  Real\nMemory             None  Real\nCPU

Table #117 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 49)

                  0                1            2             3
0       Application             None  Application          None
1  Operating System             None         None          None
2      Virtual\nI/O  Virtual\nMemory         None  Virtual\nCPU

Table #118 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 53)

                          0             1            2          3
0               Application          None  Application       None
1  Virtual Operating System          None         None       None
2          Operating System          None         None       None
3                 Real\nI/O  Real\nMemory         None  Real\nCPU

Table #119 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 57)

        0                1               2                      3
0  Filter  Company\nPrefix  Item Reference  Unique Serial\nNumber

Table #120 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 57)

   0        1      2          3
0  3  0037000  06542  773346595

Table #121 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 57)

,0,1,2,3
0,Shipping\nUnit,Procter &\nGamble,Bounty ® Paper\nTowels 15 Pack,Unique Serial Number\nfor Item

Table #122 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 71)

                                                   0
0  Determine Validity of Parameters\nto NtCreateP...
1             Determine Process\nScheduling Priority
2                          Assign Exception Handlers
3                            Assign Debugging System
4               Determine Stream\nOutput Destination

Table #123 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 72)

                                                   0
0                       Load File into Shared Memory
1                          Determine File Image Type
2  If Necessary, Call CreateProcess to\nHandle No...

Table #124 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 73)

                     0                 1                               2
0     APPLICATION TYPE        EXTENSIONS       RESPONSIBLE WINDOWS IMAGE
1    Windows 32/64-bit              .exe  run directly via CreateProcess
2       Windows 16-bit              .exe               run via ntvdm.exe
3               MS-DOS  .exe, .com, .pif               run via ntvdm.exe
4  MS-DOS Command File        .bat, .cmd     run via cmd.exe/command.exe

Table #125 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 75)

                                                   0
0  Establish Working Environment for\nExecutable ...
1               Create Virtual Memory Address\nSpace
2                Map ntdll.dll to New Address\nSpace
3        Record Entry in Windows Security\nEvent Log
4     Register Process Object with\nOperating System

Table #126 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 76)

                                                0
0                 Kernel Generates Initial Thread
1           Execution Context for\nThread Created
2        Stack for Initial Thread\nis Established
3  Kernel Assigns the Initial Thread\na Thread ID

Table #127 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 77)

                                                   0
0  Validity of Executable Image is\nVerified by O...
1       Inform the Windows Subsystem\nof the Process
2  Windows Subsystem Generates a\nProcess ID (PID...
3  Windows Subsystem Generates\nProcess Block Ins...
4  Windows Subsystem Establishes\nScheduling Prio...

Table #128 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 79)

                                                   0
0  Initial Thread is Executed by the\nOperating S...
1  IRQL and Other Kernel-Level\nAttributes Establ...
2  Locale and Process Type Defined in\nthe Thread...
3                 If Required, a Debugger is Created
4                                 Prefetching Begins

Table #129 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 79)

                                                   0
0  Thread-Local Storage (TLS) and\nFiber-Local St...
1  Generate Additional Preemptive\nThread If Nece...
2                             Import Table Processed
3                               Required DLLs Loaded

Table #130 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 80)

                                                0
0  Calling Process and New\nProcess are Separated
1       CreateProcess Returns PID\nof New Process

Table #131 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 82)

  0 1
0
1
2
3
4

Table #132 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 93)

  0
0
1

Table #133 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 93)

  0
0
1

Table #134 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 96)

  0 1 2
0

Table #135 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 96)

  0 1
0

Table #136 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 96)

  0 1
0

Table #137 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 98)

  0     1
0
1    None

Table #138 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 98)

  0
0
1

Table #139 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 99)

         0      1     2      3             4
0   METHOD  /path     ?  query  HTTP/VERSION
1   header   None  None   None          None
2  content   None  None   None          None

Table #140 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 99)

              0       1       2
0  HTTP/VERSION  STATUS  reason
1        header    None    None
2       content    None    None

Table #141 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 101)

            0
0      HEADER
1    question
2      answer
3   authority
4  additional

Table #142 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 101)

        0
0   qname
1   QTYPE
2  QCLASS

Table #143 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 101)

          0
0      name
1      TYPE
2     CLASS
3       TTL
4  RDLENGTH

Table #144 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 102)

            0     1                2
0        TYPE  CODE         CHECKSUM
1  IDENTIFIER  None  SEQUENCE NUMBER
2    data ...  None             None

Table #145 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 106)

  0 1
0

Table #146 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 106)

  0 1
0

Table #147 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 106)

  0 1 2
0
1
2

Table #148 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 106)

  0 1 2
0
1
2

Table #149 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #150 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #151 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #152 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #153 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #154 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #155 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #156 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #157 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 120)

  0 1
0

Table #158 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

  0 1
0

Table #159 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

  0 1
0

Table #160 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

      0     1     2     3     4
0        None  None  None
1  None  None  None
2  None              None  None

Table #161 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

      0     1     2     3     4     5     6     7
0  None  None  None  None        None  None
1  None  None  None              None  None  None
2  None  None  None  None  None              None
3  None        None        None  None  None  None
4                    None        None  None  None

Table #162 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

      0 1
0
1  None

Table #163 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

  0 1
0

Table #164 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 122)

  0 1
0

Table #165 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #166 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #167 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #168 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #169 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #170 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #171 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #172 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #173 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #174 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #175 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #176 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #177 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #178 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #179 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #180 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 126)

  0 1
0

Table #181 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 130)

  0
0
1

Table #182 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 130)

  0
0
1

Table #183 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 130)

  0 1
0

Table #184 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 140)

                       0
0  No Operations\n(NOPs)
1              Shellcode
2  Saved Return\nPointer

Table #185 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 142)

  0
0
1

Table #186 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 142)

  0
0
1

Table #187 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 146)

                    0     1           2
0          Variable D  None        None
1  htworG\nVariable C  None        None
2                      kcat  Variable B
3       S\nVariable A     S        None
4      Saved Base Ptr  None        None

Table #188 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 147)

                                                   0
0                                         Variable D
1                                     MALICIOUS DATA
2                            Replaced Return Address
3  Calling Function’s\nStack Space\n(Including An...

Table #189 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 148)

                        0
0                    NOPs
1  Malicious Instructions
2          Return Address

Table #190 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 151)

                                    0       1     2
0  Local Variables and Function Calls    None  None
1                1234 (Decimal Value)    None  None
2        htwo\n“hello” (String Value)    None  None
3                                None    None
4           “%s : %d” (Format String)  rG\nkc

Table #191 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 152)

,0,1
0,Local Variables and Function Calls,None
1,User-supplied\nFormat String,“AAAA%.8x%.8x%.\n8x%.8x”\n(repeat “%.8x”)
2,Saved Base Ptr,None
3,Return Address,None

Table #192 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 160)

             0
0  PDF Headers
1     Object 1
2     Object 2
3     Object 3
4   xref Table

Table #193 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 168)

         0        1       2       3
0  CHECK_A           LOCK_A    None
1     None  CHECK_A    None  LOCK_A

Table #194 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 168)

                 0                1
0  CHECK_A\nLOCK_A             None
1             None  CHECK_A\nLOCK_A

Table #195 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 172)

,0,1,2,3,4
0,SOLD AS,LANGUAGE,PRICE,AUTHOR,SEEN IN\nWILD
1,0x88,PHP,Unknown,Unknown or no author\ncredited,Yes
2,AD Pack,PHP,Unknown,Unknown or no author\ncredited,Yes
3,Armitage,PHP,Unknown,Unknown or no author\ncredited,Yes
4,Death Pack,PHP,$90,Sploi1ter,No

Table #196 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 173)

                         0         1       2           3              4
0                  SOLD AS  LANGUAGE   PRICE      AUTHOR  SEEN IN\nWILD
1                 SPREADER       PHP  $2,000       NeRox            Yes
2                  Tornado       PHP    $600  Expire2012            Yes
3          Ultra Lite Pack       PHP     $50  cracklover             No
4  Underwater Exploit Pack       PHP    $500  Underwater        Unknown

Table #197 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 177)

             0                    1 2 3
0  DoS Traffic  Available Bandwidth

Table #198 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 186)

,0,1,2,3,4,5
0,TOOL,TARGET,DICTIONARY\nATTACK,RAINBOW\nTABLE,BRUTE-FORCE\nATTACK,OFFLINE OR\nONLINE\nMODE
1,John the Ripper,"Password hashes\n(MD5, SHA1,\nNTLM, etc)",Yes,No,Yes,Offline
2,Ophcrack,NTLM Hashes,No,Yes,No,Offline
3,Cain and Able,"NTLM Hashes,\nWEP, MD5,\nSHA1, MySQL,\nMSSQL, etc",Yes,Yes,Yes,Online and\nOffline
4,Crowbar,Web\nauthentication,Yes,No,Yes,Online

Table #199 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 188)

,0,1,2
0,CHARACTER SET,PASSWORD\nLENGTH,MAXIMUM BRUTE-\nFORCE ITERATIONS
1,abcdefghijklmnopqrstuvwxyz,8,"208,827,064,576"
2,abcdefghijklmnopqrstuvwxyz0123456789,6,"2,176,782,336"
3,abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(),5,"205,962,976"
4,abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNO\nPQR...,4,"26,873,856"

Table #200 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 189)

              0             1
0  example1.com  example2.com

Table #201 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 190)

,0,1
0,"32,500,000 results for puppie\nPuppies, Cute P...",s\nppies & More | Daily Puppy\now to care for ...

Table #202 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 191)

                                       0   1
0  206,000 results for\nJavaScript\nXXS!  OK

Table #203 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 205)

  0
0
1

Table #204 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 205)

  0
0
1

Table #205 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 205)

  0
0
1

Table #206 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 205)

  0
0
1

Table #207 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 216)

  0 1
0

Table #208 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 227)

  0 1
0

Table #209 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 227)

  0 1
0

Table #210 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 243)

  0 1
0

Table #211 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 243)

  0 1
0

Table #212 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 248)

                                              0                1
0                                       COMMAND      DESCRIPTION
1                                      uname -a   Kernel version
2                                             w  Logged in users
3                                       lastlog  Last to connect
4  find /bin [removed] -perm -4000 2> /dev/null        Suid bins

Table #213 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 248)

                                         0                             1
0                                  COMMAND                   DESCRIPTION
1                 gcc sudo.c -o sudosploit     Compile Linux sudo sploit
2                             ./sudosploit            Execute Sudosploit
3  wget http://twofaced.org/linux2-6-all.c  Linux Kernel 2.6.* rootkit.c
4        gcc linux2-6-all.c -o linuxkernel        Compile Linux2-6-all.c

Table #214 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 250)

      0     1
0  None
1        None

Table #215 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 261)

,0,1,2
0,NOITANALPXE,morf .noitucexe eht\nEMV ecalp\neht edoc snoit...,eht\nlennahCmoC gnisu\nmorf\nedoc\neht\nelbasi...
1,NOITPO\nNOITARUGIFNOC,”EURT“\n=\ndmiskhc_elbasid.lortnoc_rotinom\n”E...,”EURT“\n=\nroodkcab_tcirtser.lortnoc_rotinom
2,TSET,"snoitcurtsni\n,TDG/TDL/TDI\ndilavni",lennahCmoC

Table #216 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 290)

       0
0
1  Flink
2  Blink
3

Table #217 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 290)

       0
0
1  Flink
2  Blink
3

Table #218 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 290)

       0
0
1  Flink
2  Blink
3

Table #219 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 291)

       0
0
1  Flink
2  Blink
3

Table #220 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 291)

       0
0
1  Flink
2  Blink
3

Table #221 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 291)

       0
0
1  Flink
2  Blink
3
4

Table #222 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 299)

,0,1
0,ANTI-VIRUS VENDOR,VIRUS NAME
1,AntiVir\nAvast\nAVG\nBitDefender\nClamAV\nDrWe...,DR/Delphi.Gen\nWin32:Trojan-gen {Other}\nVB.FT...

Table #223 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 301)

                    0                                                1
0          VIRUS NAME                                      EXPLANATION
1           Blackworm  Creates \WINDOWS\system32\About_Blackworm.C.txt
2               Nyxem  Target the New York Mercantile Exchange (Nymex)
3  My Wife/Kama Sutra          Subjects surrounding the e-mail attacks

Table #224 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 304)

  0 1
0

Table #225 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 305)

      0 1     2
0  None    None
1
2  None    None

Table #226 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 305)

  0 1
0

Table #227 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 305)

      0 1     2
0  None    None
1
2  None    None

Table #228 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 305)

  0 1
0

Table #229 from file: Cyber Security Essentials ( PDFDrive ).pdf (Page 331)

                  0      1
0  www.crcpress.com  ISBN:

Table #230 from file: CyberCrimes-CommonTypes.pdf (Page 5)

  0     1
0    SPIT

Table #231 from file: CyberCrimes-CommonTypes.pdf (Page 7)

  0     1
0    SPIT

Table #232 from file: CyberCrimes-CommonTypes.pdf (Page 9)

  0     1
0    SPIT

Table #233 from file: CyberCrimes-CommonTypes.pdf (Page 13)

  0     1
0    SPIT

Table #234 from file: CyberCrimes-CommonTypes.pdf (Page 15)

  0     1
0    SPIT

Table #235 from file: CyberCrimes-CommonTypes.pdf (Page 17)

  0     1
0    SPIT

Table #236 from file: CyberCrimes-CommonTypes.pdf (Page 21)

  0     1
0    SPIT

Table #237 from file: CyberCrimes-CommonTypes.pdf (Page 23)

  0     1
0    SPIT

Table #238 from file: CyberCrimes-CommonTypes.pdf (Page 25)

  0     1
0    SPIT

Table #239 from file: CyberCrimes-CommonTypes.pdf (Page 27)

  0     1
0    SPIT

Table #240 from file: CyberCrimes-CommonTypes.pdf (Page 31)

  0     1
0    SPIT

Table #241 from file: CyberCrimes-CommonTypes.pdf (Page 35)

  0     1
0    SPIT

Table #242 from file: CyberCrimes-CommonTypes.pdf (Page 37)

  0     1
0    SPIT

Table #243 from file: CyberCrimes-CommonTypes.pdf (Page 39)

  0     1
0    SPIT

Table #244 from file: CyberCrimes-CommonTypes.pdf (Page 43)

  0     1
0    SPIT

Table #245 from file: CyberCrimes-CommonTypes.pdf (Page 45)

  0     1
0    SPIT

Table #246 from file: CyberCrimes-CommonTypes.pdf (Page 47)

  0     1
0    SPIT

Table #247 from file: cybersecuirty_sb_factsheets_all.pdf (Page 1)

  0
0
1

Table #248 from file: cybersecuirty_sb_factsheets_all.pdf (Page 1)

                      0     1
0  CYBERSECURITY BASICS  None
1                  None

Table #249 from file: cybersecuirty_sb_factsheets_all.pdf (Page 1)

  0
0
1

Table #250 from file: cybersecuirty_sb_factsheets_all.pdf (Page 2)

  0 1
0

Table #251 from file: cybersecuirty_sb_factsheets_all.pdf (Page 3)

               0
0  Understanding
1

Table #252 from file: cybersecuirty_sb_factsheets_all.pdf (Page 3)

                                                   0 1
0                                               None
1  1. IDENTIFY 2. PROTECT\nMake a list of all equ...

Table #253 from file: cybersecuirty_sb_factsheets_all.pdf (Page 5)

  0
0
1

Table #254 from file: cybersecuirty_sb_factsheets_all.pdf (Page 5)

  0 1
0

Table #255 from file: cybersecuirty_sb_factsheets_all.pdf (Page 5)

  0
0
1

Table #256 from file: cybersecuirty_sb_factsheets_all.pdf (Page 6)

  0
0
1

Table #257 from file: cybersecuirty_sb_factsheets_all.pdf (Page 7)

  0 1
0

Table #258 from file: cybersecuirty_sb_factsheets_all.pdf (Page 7)

  0 1
0

Table #259 from file: cybersecuirty_sb_factsheets_all.pdf (Page 7)

  0
0
1

Table #260 from file: cybersecuirty_sb_factsheets_all.pdf (Page 7)

  0
0
1

Table #261 from file: cybersecuirty_sb_factsheets_all.pdf (Page 8)

                                                   0 1
0                                               None
1  Limit the damage Keep your business running\nW...

Table #262 from file: cybersecuirty_sb_factsheets_all.pdf (Page 8)

  0 1 2 3 4 5
0
1

Table #263 from file: cybersecuirty_sb_factsheets_all.pdf (Page 9)

          0     1
0  PHISHING  None
1      None

Table #264 from file: cybersecuirty_sb_factsheets_all.pdf (Page 9)

                                                   0     1
0  YOU\nWHAT CAN DO\nBefore you click on a link o...  None
1                                               None
2                                               None

Table #265 from file: cybersecuirty_sb_factsheets_all.pdf (Page 10)

      0                                                  1
0  None  WHAT IF YOU FALL FOR A\nPHISHING SCHEME\nAlert...
1

Table #266 from file: cybersecuirty_sb_factsheets_all.pdf (Page 11)

  0
0
1

Table #267 from file: cybersecuirty_sb_factsheets_all.pdf (Page 12)

      0     1
0        None
1  None

Table #268 from file: cybersecuirty_sb_factsheets_all.pdf (Page 13)

  0
0
1

Table #269 from file: cybersecuirty_sb_factsheets_all.pdf (Page 14)

  0
0
1

Table #270 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

  0
0
1

Table #271 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

                 0 1
0             None
1  CYBER INSURANCE

Table #272 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

  0
0
1

Table #273 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

  0
0
1

Table #274 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

  0
0
1

Table #275 from file: cybersecuirty_sb_factsheets_all.pdf (Page 15)

  0 1
0

Table #276 from file: cybersecuirty_sb_factsheets_all.pdf (Page 16)

  0
0
1

Table #277 from file: cybersecuirty_sb_factsheets_all.pdf (Page 16)

  0
0
1

Table #278 from file: cybersecuirty_sb_factsheets_all.pdf (Page 16)

  0 1
0

Table #279 from file: cybersecuirty_sb_factsheets_all.pdf (Page 17)

  0
0
1

Table #280 from file: cybersecuirty_sb_factsheets_all.pdf (Page 17)

  0
0
1

Table #281 from file: cybersecuirty_sb_factsheets_all.pdf (Page 19)

  0
0
1

Table #282 from file: cybersecuirty_sb_factsheets_all.pdf (Page 19)

                  0     1     2     3
0  VENDOR SECURIT Y  None  None  None
1              None        None  None
2              None  None

Table #283 from file: cybersecuirty_sb_factsheets_all.pdf (Page 19)

  0     1
0
1    None

Table #284 from file: cybersecuirty_sb_factsheets_all.pdf (Page 19)

  0
0
1

Table #285 from file: cybersecuirty_sb_factsheets_all.pdf (Page 20)

  0
0
1

Table #286 from file: cybersecuirty_sb_factsheets_all.pdf (Page 21)

  0
0
1

Table #287 from file: cybersecuirty_sb_factsheets_all.pdf (Page 21)

      0     1
0  None
1        None
2        None

Table #288 from file: cybersecuirty_sb_factsheets_all.pdf (Page 22)

  0
0
1

Table #289 from file: cybersecuirty_sb_factsheets_all.pdf (Page 23)

      0       1
0  None  SECURE
1

Table #290 from file: cybersecuirty_sb_factsheets_all.pdf (Page 23)

      0     1     2     3
0  None        None  None
1  None        None  None
2  None  None
3        None  None  None

Table #291 from file: cybersecuirty_sb_factsheets_all.pdf (Page 23)

  0
0
1

Table #292 from file: cybersecuirty_sb_factsheets_all.pdf (Page 23)

                                                   0 1
0                                               None
1  HOW TO\nPROTECT DEVICES\nWhether employees or ...

Table #293 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 2)

                                                   0
0
1                                         Cyberspace
2  “A global domain within the information\nenvir...

Table #294 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 3)

                                                   0
0                          Life in a Networked World
1  • Rapid Development in Information Technology\...
2  The New “Net” monitors & controls critical Inf...

Table #295 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 5)

                                                   0
0                         Cyber What? Defining Cyber
1  Ø Cyberspace is the connected Internet Ecosyst...

Table #296 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 6)

                                                   0
0                          Cyber Security Challenges
1  • Cyberspace has inherent vulnerabilities that...

Table #297 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 7)

      0                                                  1
0                              Evolution Of Cyber Security
1  None  Viruses (1990s)\nAnti-Virus, Firewalls\nWorms ...

Table #298 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 8)

      0                                                  1
0
1                                   Cyber Threat Evolution
2  None  Basic Applied Early Rapid Significant Threat\n...

Table #299 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 9)

                                                   0
0                             Indian Cyber Situation
1  • India ranks 3rd in terms of the highest numb...

Table #300 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 10)

                                                   0
0                      Cyberattacks in India of Late
1  MAY 2017 MAY 2017 JUNE 2017\nJULY 2016\nUNION ...

Table #301 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 11)

                                                   0                  1
0
1                                                     Cyber disruptions
2  > 50 % of the organization s reportedly affect...               None

Table #302 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 12)

      0                                                  1
0
1                                  Financial and Insurance
2  None  Frequency 998 incidents, 471 with confirmed da...

Table #303 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 12)

                   0                                                  1
0          Frequency  998 incidents, 471 with confirmed data disclosure
1     Top 3 patterns  1. Denial of Services,\n2. Web Application Att...
2      Threat actors  94% External, 6 % Internal, <1% Partner (all\n...
3      Actor Motives       96% Financials, 1% Espionage (all incidents)
4  Data\nCompromised         71% Credentials, 12 % Payment, 9% Personal

Table #304 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1 2
0

Table #305 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1 2
0

Table #306 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1 2
0

Table #307 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1 2
0

Table #308 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1
0

Table #309 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 13)

  0 1 2
0

Table #310 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1 2
0

Table #311 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1 2
0

Table #312 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1 2
0

Table #313 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1 2
0

Table #314 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1 2
0

Table #315 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 14)

  0 1
0

Table #316 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 15)

  0 1 2
0

Table #317 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 15)

  0 1 2
0

Table #318 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 15)

  0 1 2
0

Table #319 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 15)

  0 1 2
0

Table #320 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 16)

  0 1 2
0

Table #321 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 16)

  0 1 2
0

Table #322 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 16)

  0 1 2
0

Table #323 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 16)

  0 1 2
0

Table #324 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 17)

                               0
0
1  International Security Trends
2

Table #325 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 20)

                                                   0
0
1                          Cyber Threats and Sources
2  Sources\na) Nation States b) Cyber Criminal Or...

Table #326 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 22)

                                                   0
0
1  Dynamics of Threats and Resilience\n(using Sys...
2  How did breaches (threats) occur?*\nAdverse Be...

Table #327 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 23)

,0,1,2,3
0,Real World System,None,None,None
1,Correctly conveying intent &\nreceiving result...,None,None,None
2,None,HMI\nCompute Algorithms\nSW Architecture,None,None
3,ØUpper Layer can depend on lower layer only if...,er layer only if it has higher\nHW Architecture,,None
4,None,None,,

Table #328 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 24)

                                                   0
0
1             Hardware Cyber Security Concerns (1/2)
2  v Most equipment and technology for setting up...

Table #329 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 25)

                                                   0
0
1             Hardware Cyber Security Concerns (2/2)
2  v Above hardware attacks may pertain to variou...

Table #330 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 26)

                                                  0
0
1         Innovations to Attack: End-Points Example
2  Attackers are adapting by moving down the stack:

Table #331 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 27)

                                                   0
0
1  Challenges are increasing in the Cyber Space D...
2

Table #332 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 28)

,0,1
0,None,3rd Generation\n• Infrastructure\nhacking\n• F...
1,2nd Generation\n• Network Dos\n• Blended threa...,None

Table #333 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 29)

                   0
0
1  Anatomy of Attack
2

Table #334 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 32)

                          0
0
1  Cyber Security Framework
2

Table #335 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 35)

                                                   0
0
1               IoT Cyber Security - Vulnerabilities
2  Operational Security\nIOT Bases services requi...

Table #336 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 36)

                                                   0
0
1    Future Technology to be Designed\nwith Security
2  Security innovation must deliver\nmore capable...

Table #337 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 38)

                                                   0
0
1                   10 Steps to Cyber Security (1/5)
2  Defining and communicating your Board’s Inform...

Table #338 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 39)

                                                   0
0
1                   10 Steps to Cyber Security (2/5)
2  3. Monitoring\nEstablish a monitoring strategy...

Table #339 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 40)

                                                   0
0
1                   10 Steps to Cyber Security (3/5)
2  5. User Education and Awareness\nProduce user ...

Table #340 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 41)

                                                   0
0
1                   10 Steps to Cyber Security (4/5)
2  7. Secure Configuration\nApply security patche...

Table #341 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 42)

                                                   0
0
1                   10 Steps to Cyber Security (5/5)
2  9. Managing User Privileges\nEstablish account...

Table #342 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 43)

                                     0
0
1  Evolution of Cyberthreat Management
2

Table #343 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 44)

      0                                          1
0        World Economic Forum Cyber Risk Framework
1  None

Table #344 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 45)

                                                   0
0
1                            Cyber Security Planning
2  Organization heads meet and discuss the criter...

Table #345 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 48)

                                                   0
0
1                  Technology Shifts and Disruptions
2  Digital Cloud Automation & Artificial Internet...

Table #346 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 48)

  0             1
0    stfihS\nhceT

Table #347 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 48)

                                                   0
0  • Finance Services\n• Communication\n• Media\n...
1

Table #348 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 50)

                                                   0
0
1       Trends, Challenges and Threats in 2018 (1/5)
2  1. AI and machine learning can boost cyber def...

Table #349 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 51)

                                                   0
0
1       Trends, Challenges and Threats in 2018 (2/5)
2  2. Be proactive about ransomware\n• Ransomware...

Table #350 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 52)

                                                   0
0
1       Trends, Challenges and Threats in 2018 (3/5)
2  4. The IoT is a weak link\n• We’re rolling out...

Table #351 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 53)

                                                   0
0
1       Trends, Challenges and Threats in 2018 (4/5)
2  5. There’s still a skills shortage\n• The dear...

Table #352 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 54)

                                                   0
0
1       Trends, Challenges and Threats in 2018 (5/5)
2  7. Patching and application testing\n• It’s no...

Table #353 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 55)

                                                   0
0                     Cyber Security HR Requirements
1  • Challenge\n– Acute Shortage of Resource pers...

Table #354 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 56)

                                                   0
0                         Human Resource Development
1  • Specialists in Trustworthy Information Syste...

Table #355 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 57)

                                                   0
0  The Future of Cyber security\nEducation is Bright
1  Ø Emerging challenges will drive the\nneeds in...

Table #356 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 59)

,0,1,2,3,4,5
0,,None,None,None,None,None
1,CYBER SECURITY HIERARCHY IN INDIA (1/2),None,None,None,None,None
2,PM\nOFFICE/CAB\nINET SECY\n(PMO/CAB\nSEC),MINISTERY OF\nHOME AFFAIRS\n(MHA),MINISTRY OF\nEXTERNAL\nAFFAIRS (MEA),MINISTRY OF\nDEFENCE\n(MOD),MINISTRY OF\nCOMMON INFO\nTECHNOLOGY\n(MCIT),NON GOVT\nORGANIZATION\n(NGO)
3,National\nSecurity\nC0uncil (NSC),National\nCyber Corrd\nCentre (NCCC),Ambassadors\n& Ministers,Tri Service\nCyber\nCommad,Department\nOf\nInformation\nTechnology\n(DIT),Cyber\nSecurity And\nAnti Hacking\nOrganisatio...
4,National\nTechnical\nResearch Org\n(NTRO),Directorate of\nForensic\nScience (DFS),Defence\nAttaches,Army (MI),Department\nof Telecom\n(DoT),Cyber\nSociety of\nIndia (CySI)

Table #357 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 60)

,0,1,2,3,4,5
0,CYBER SECURITY HIERARCHY IN INDIA (2/2),None,None,None,None,None
1,,None,None,None,None,None
2,PM\nOFFICE/CABINE\nT SECY\n(PMO/CAB SEC),MINISTERY\nOF HOME\nAFFAIRS\n(MHA),MINISTRY OF\nEXTERNAL\nAFFAIRS\n(MEA),MINISTRY OF\nDEFENCE (MOD),MINISTRY OF\nCOMMON INFO\nTECHNOLOGY\n(MCIT),NON GOVT\nORGANIZATION\n(NGO)
3,National Crisis\nManagement\nCommittee\n(NCMC),Intelligen\nce Bureau\n(IB),,Def Info\nAssurance &\nResearch\nAgency (DIARA),Informatics\nCenter (NIC),National\nCyber\nSecurity of\nIndia (NCS)
4,Research &\nAnalysis Wing\n(RAW),,,Defence\nIntelligence\nAgency (DIA),Centre for\nDevelopment\nof Advanced\nComputin...,Cyber\nAttacks\nCrisis\nManagement\nPlan of In...

Table #358 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 61)

                                                   0
0
1  Recommendations on Cybersecurity\nFramework fo...
2  P-P-P Model for Cybersecurity\n• State Cyberse...

Table #359 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 62)

                                                   0
0
1  Recommendations on Cybersecurity\nFramework fo...
2  State Computer Emergency Response Team\n• Esta...

Table #360 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 63)

                                                   0
0
1  Recommendations on Cybersecurity\nFramework fo...
2  Assurance Framework\n• Framework of assurance ...

Table #361 from file: CyberSecurityConclaveAtVigyanBhavanDelhi_1.pdf (Page 64)

                                                   0
0
1  Recommendations on Cybersecurity\nFramework fo...
2  Information Sharing\n• State Information Shari...

Table #362 from file: Introduction-cyber-security.pdf (Page 3)

,0,1,2,3,4,5
0,Title,None,None,None,Introduction to Cyber Security,None
1,Author,None,None,None,"Dr. Jeetendra Pande, Assistant Professor-\nSch...",None
2,ISBN: 978-93-84813-96-3,None,None,None,None,None
3,,"Uttarakhand Open University, 2017",None,None,None,None
4,None,"© Uttarakhand Open University, 2017",.,This work by Uttarakhand Open University is li...,None,None

Table #363 from file: Introduction-cyber-security.pdf (Page 11)

,0,1,2
0,Class,Address range,Supports
1,Class A,1.0.0.1 to 126.255.255.254,Supports 16 million hosts on each of 127 netwo...
2,Class B,128.1.0.1 to 191.255.255.254,"Supports 65,000 hosts on each of 16,000 networks."
3,Class C,192.0.1.1 to 223.255.254.254,Supports 254 hosts on each of 2 million networks
4,Class D,224.0.0.0 to 239.255.255.255,Reserved for multicast groups

Table #364 from file: Introduction-cyber-security.pdf (Page 17)

  0 1
0

Table #365 from file: Introduction-cyber-security.pdf (Page 17)

  0 1
0

Table #366 from file: Introduction-cyber-security.pdf (Page 18)

                                                   0
0  The role of all the people in the hierarchy re...
1  If a hacker who have hacked sesetive data from...
2  exploiting the organisation himself. In case, ...
3  for it, he will do it himself, otherwise he ma...
4                      have the technical expertize.

Table #367 from file: Introduction-cyber-security.pdf (Page 18)

                                                   0
0       1.2.2 Reasons for Commission of Cyber Crimes
1  There are many reasons which act as a catalyst...

Table #368 from file: Introduction-cyber-security.pdf (Page 19)

                                                   0
0                                       1.3.1 Adware
1  It is a special type of malware which is used ...

Table #369 from file: Introduction-cyber-security.pdf (Page 19)

                                                   0
0                                      1.3.2 Spyware
1  It is a special type of which is installed in ...

Table #370 from file: Introduction-cyber-security.pdf (Page 19)

                                                   0
0                   1.3.3 Browser hijacking software
1  There is some malicious software which are dow...

Table #371 from file: Introduction-cyber-security.pdf (Page 19)

                                                   0
0                                        1.3.4 Virus
1  A virus is a malicious code written to damage/...

Table #372 from file: Introduction-cyber-security.pdf (Page 20)

                                                   0
0                                        1.3.5 Worms
1  They are a class of virus which can replicate ...

Table #373 from file: Introduction-cyber-security.pdf (Page 20)

                                                   0
0                                 1.3.6 Trojan Horse
1  Trojan horse is a malicious code that is insta...

Table #374 from file: Introduction-cyber-security.pdf (Page 21)

                                                   0
0                                    1.3.7 Scareware
1  Internet has changed how we talk, shop, play e...

Table #375 from file: Introduction-cyber-security.pdf (Page 21)

                                                   0
0                               1.4.1 Cyber Stalking
1  It is an act of stalking, harassing or threate...

Table #376 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                            1.4.2 Child Pornography
1  It is an act of possessing image or video of a...

Table #377 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                   1.4.3 Forgery and Counterfeiting
1  It is a use of computer to forgery and counter...

Table #378 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0    1.4.4 Software Piracy and Crime related to IPRs
1  Software piracy is an illegal reproduction and...

Table #379 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                              1.4.5 Cyber Terrorism
1  It is defined as the use of computer resources...

Table #380 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                                     1.4.6 Phishing
1  It is a process of acquiring personal and sens...

Table #381 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                           1.4.7 Computer Vandalism
1  It is an act of physical destroying computing ...

Table #382 from file: Introduction-cyber-security.pdf (Page 22)

                                                   0
0                             1.4.8 Computer Hacking
1  It is a practice of modifying computer hardwar...

Table #383 from file: Introduction-cyber-security.pdf (Page 23)

                                                   0
0  1.4.9 Creating and distributing viruses over i...
1  The spreading of an virus can cause business a...

Table #384 from file: Introduction-cyber-security.pdf (Page 23)

                                                   0
0                                    1.4.10 Spamming
1  Sending of unsolicited and commercial bulk mes...

Table #385 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0  It is an activity which involves injecting a m...
1
2  As soon as the browser executes the malicious ...
3
4  cookies and other sensitive information and se...

Table #386 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0                        1.4.12 Online Auction Fraud
1  There are many genuine websites who offers onl...

Table #387 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0                             1.4.13 Cyber Squatting
1  It is an act of reserving the domain names of ...

Table #388 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0                                 1.4.15 Web Jacking
1  The hacker gain access to a website of an orga...

Table #389 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0                        1.4.16 Internet Time Thefts
1  Hacking the username and password of ISP of an...

Table #390 from file: Introduction-cyber-security.pdf (Page 24)

                                                   0
0                    1.4.17 Denial of Service Attack
1  It is a cyber attack in which the network is c...

Table #391 from file: Introduction-cyber-security.pdf (Page 25)

                                                   0
0                               1.4.19 Data Diddling
1  It is a practice of changing the data before i...

Table #392 from file: Introduction-cyber-security.pdf (Page 25)

                                                   0
0                              1.4.20 Email Spoofing
1  It is a process of changing the header informa...

Table #393 from file: Introduction-cyber-security.pdf (Page 32)

                                                   0
0  There are many applications of steganography w...
1  without ringing the alarms, preventing secret ...
2  and theft , digital watermarks for IPR issues,...
3
4  Let us discuss how the data is secretly embede...

Table #394 from file: Introduction-cyber-security.pdf (Page 36)

,0,1,2,3,4,5
0,,None,None,,None,None
1,,Assam,,,Haryana,
2,None,"Address: CID HQ,Dy.SP., Assam Police",None,None,A d d r e s s : C y ber Crime and Technical,None
3,None,"Contact Details: Ph: +91-361-252-618, +91",None,None,"Investigation Cell, Joint Commisioner of Police,",None
4,None,9435045242,None,None,"Old S.P.Office complex,Civil Lines, Gurgaon",None

Table #395 from file: Introduction-cyber-security.pdf (Page 37)

,0,1,2,3,4,5
0,,None,None,,None,None
1,,"Contact Details: +91-22-22630829, +91-22-",,,E-mail id: cybercrimechn@yahoo.com,
2,None,22641261,None,None,None,None
3,None,None,None,None,"For Rest of Tamil Nadu,",None
4,None,Web site: http://www.cybercellmumbai.com,None,None,None,None

Table #396 from file: Introduction-cyber-security.pdf (Page 38)

,0,1,2,3,4,5
0,,None,None,,None,None
1,,"No.3, CGO Complex,",,,"Contact Details: +91-20-26123346, +91-20-",
2,None,"Lodhi Road, New Delhi – 3",None,None,26127277,None
3,None,"Contact Details: +91-11-4362203, 011-",None,None,"+91-20-2616 5396, +91-20-2612 8105 (Fax)",None
4,None,26851998,None,None,Website: www.punepolice.gov.in,None

Table #397 from file: Introduction-cyber-security.pdf (Page 39)

  0                            1     2 3       4     5
0                           None  None      None  None
1    E-mail: sspcrmjmu-jk@nic.in            None  None
2                           None  None      None  None
3                           None  None      None  None
4                      Meghalaya          Punjab

Table #398 from file: Introduction-cyber-security.pdf (Page 55)

                                                   0
0  We use passwords to ensure security and the co...
1  modern day crimes is identity theft, which is ...
2  compromised. The need of the hour is good pass...
3  of an alternative to remembering your password...
4  credentials? Password managers are one of the ...

Table #399 from file: Introduction-cyber-security.pdf (Page 56)

                                                   0
0  comes in handy. It encrypts all the different ...
1                 the only one you have to remember.

Table #400 from file: Introduction-cyber-security.pdf (Page 56)

                                                   0
0  A password manager is software that helps a us...
1  information so that it can be accessed any tim...
2  manager helps to store information securely wi...
3  are saved using some kind of encryption so tha...

Table #401 from file: Introduction-cyber-security.pdf (Page 56)

                                                   0
0  If you find it hard to remember passwords for ...
1  „Forgot password?‟ routine off and on, then a ...
2  These are designed to store all kinds of criti...

Table #402 from file: Introduction-cyber-security.pdf (Page 56)

                                                   0
0  Password managers may be stored online or loca...
1  information in an online cloud, which can be a...
2  password managers store information on the loc...
3  Both have their own advantages, and the manage...
4  Online password managers use browser extension...

Table #403 from file: Introduction-cyber-security.pdf (Page 56)

                                                   0
0  The passwords are saved using different encryp...
1  provide. The best password managers use a 256-...
2  security, which has been accepted by the US Na...
3  information handling. If you have considered u...
4        on one, this section features the top five.

Table #404 from file: Introduction-cyber-security.pdf (Page 57)

          0
0
1  Features

Table #405 from file: Introduction-cyber-security.pdf (Page 58)

      0                                                  1
0  None  2. Clipperz: Clipperz is a Web-based, open sou...
1  None  information securely. Data can be accessed fro...
2  None  without any installation. Clipperz also includ...
3  None                       connection is not available.
4                                                     None

Table #406 from file: Introduction-cyber-security.pdf (Page 58)

          0
0
1  Features

Table #407 from file: Introduction-cyber-security.pdf (Page 59)

          0
0
1  Features

Table #408 from file: Introduction-cyber-security.pdf (Page 61)

          0
0
1  Features

Table #409 from file: Introduction-cyber-security.pdf (Page 72)

                                                   0
0  As computers become more and more integrated i...
1  sensitive data on our computer-from passwords,...
2  notes, business plans and other confidential i...
3  for everyone. Here is a list of 11 free anti-v...
4  can select (home users) for your online securi...

Table #410 from file: Introduction-cyber-security.pdf (Page 72)

                 0                        1
0  downloaded from  http://www.free-av.com/

Table #411 from file: Introduction-cyber-security.pdf (Page 73)

                 0                             1
0  downloaded from  http://antivirus.comodo.com/

Table #412 from file: Introduction-cyber-security.pdf (Page 75)

                                                   0
0  Every Mac ships with a built-in firewall - a s...
1  information from entering your Mac. But what i...
2                                          your Mac?
3  Every time you request information from the In...
4  your Mac sends data packets to request the inf...

Table #413 from file: Introduction-cyber-security.pdf (Page 75)

                                                   0
0  A firewall can help prevent bad packets from e...
1  automated applications that can scan thousands...
2  ports that can be exploited. To ensure that ra...
3  access to your Mac, you should enable Mac OS X...
4      open ports and disallow random network scans.

Table #414 from file: Introduction-cyber-security.pdf (Page 76)

                                                   0
0                      2. Select Security & Privacy.
1                         3. Click the Firewall tab.
2  4. Click the lock icon and authenticate with y...
3                    The window shown below appears.

Table #415 from file: Introduction-cyber-security.pdf (Page 76)

                                                   0
0  5. Click Start. The firewall turns on - you'll...
1  light and the Firewall: On message, as shown b...

Table #416 from file: Introduction-cyber-security.pdf (Page 77)

                                                   0
0  7. Select the Automatically allow signed softw...
1  checkbox. This allows the applications on your...
2                                             world.
3  8. Select the Enable stealth mode checkbox. Th...
4                   to port scans and ping requests.

Table #417 from file: Introduction-cyber-security.pdf (Page 83)

                                                   0
0  The Windows Firewall with Advanced Security is...
1  the rules that are applied by the Windows Fire...
2  the Windows Firewall, change their properties,...
3  this tutorial we will share how to open the Wi...
4  find your way around it and talk about the typ...

Table #418 from file: Introduction-cyber-security.pdf (Page 83)

                                                   0
0  You have several alternatives to opening the W...
1  One is to open the standard Windows Firewall w...
2  and Security -> Windows Firewall". Then, click...
3

Table #419 from file: Introduction-cyber-security.pdf (Page 84)

                                                   0
0  In Windows 7, another method is to search for ...
1  and click the "Windows Firewall with Advanced ...
2
3  In Windows 8.1, Windows Firewall with Advanced...
4  and you need to use the first method shared ab...

Table #420 from file: Introduction-cyber-security.pdf (Page 84)

                                                   0
0  In order to provide the security you need, the...
1  and outbound rules, which are enabled dependin...

Table #421 from file: Introduction-cyber-security.pdf (Page 85)

                                                   0
0  connected to. Inbound rules are applied to the...
1  Internet to your computer or device. Outbound ...
2                    to the network or the Internet.
3  These rules can be configured so that they are...
4  services, ports or protocols. You can also spe...

Table #422 from file: Introduction-cyber-security.pdf (Page 86)

                                                   0
0  In the Properties window, you will find comple...
1  does and in when it is applied. You will also ...
2                          the available parameters.
3

Table #423 from file: Introduction-cyber-security.pdf (Page 86)

                                                   0
0  Connection security rules are used to secure t...
1  the network. One example would be a rule which...
2              specific computers must be encrypted.
3  Unlike the inbound or outbound rules, which ar...
4  security rules require that both computers hav...

Table #424 from file: Introduction-cyber-security.pdf (Page 87)

                                                   0
0  The Windows Firewall with Advanced Security in...
1  the Monitoring section you can find the follow...
2  active (both inbound and outbound), the connec...
3        there are any active security associations.
4

Table #425 from file: Introduction-cyber-security.pdf (Page 89)

                                                   0
0  Browsers are the key to the Internet these day...
1  browsers for every platform and operating syst...
2                     should help narrow the search.
3
4

Table #426 from file: Introduction-cyber-security.pdf (Page 96)

                                                   0
0  Your internet browser's cache stores certain i...
1  your computer or mobile device so that they'll...
2  navigating through websites that use the same ...
3  download the same image multiple times21. Occa...
4  you from seeing updated content, or cause func...

Table #427 from file: Introduction-cyber-security.pdf (Page 117)

                                                   0
0  This chapter is about different kind of Best P...
1                                      Wireless LAN.

Table #428 from file: Introduction-cyber-security.pdf (Page 117)

                                                   0
0  The Wireless LAN or WLAN is becoming a popular...
1  computers these days. In offices and homes, WL...
2  communication compared to wired LAN. The conve...
3  both cost effective and easily maintainable. T...
4  become popular in the home due to ease of inst...

Table #429 from file: Introduction-cyber-security.pdf (Page 117)

      0                                                  1
0  None  1. No need to be connected physically with eac...
1  None  You can roam around freely in office premises,...
2  None  2. WLANs are cost effective. Cabling all the w...
3  None  So it‟s cheap and provides same quality of ser...
4  None  3. Unreachable spots where a cable is hardly a...

Table #430 from file: Introduction-cyber-security.pdf (Page 118)

                                                   0
0  Having said that, WLAN are also as prone to va...
1  are. Actually WLANs are easier to hack as comp...
2  configured, due to its easy accessibility arou...
3  physical wires to hack can be done from anywhe...
4  to the organization if not configured properly...

Table #431 from file: Introduction-cyber-security.pdf (Page 118)

,0,1
0,Wireless Security mainly depends on these 3 fa...,None
1,None, How much is your wireless network secured in...
2,None, Monitoring for suspicious and unusual activi...
3,None, User awareness and education.
4,These are the combination of various approache...,None

Table #432 from file: Introduction-cyber-security.pdf (Page 118)

                                                   0
0  Using a Wi-Fi at home is not a luxury anymore ...
1  question of security comes into the scene, the...
2  you can protect something which you cannot see...
3  wireless network is altogether a different sid...
4  Most of wireless network device vendor‟s and I...

Table #433 from file: Introduction-cyber-security.pdf (Page 119)

                                                   0
0  Instead use secure protocols such as WPA 2 – W...
1  128 bits AES ciphers and is typically consider...
2  Attacks mitigated: WEP Key cracking, Sniffing,...
3  2. Use Firewall: All the wireless routers come...
4  the security features. You should block any an...

Table #434 from file: Introduction-cyber-security.pdf (Page 120)

                                                   0
0  not use any encryption to secure the channel b...
1  information which is not by default going on H...
2  susceptible to sniffing and even more your ses...
3  channel may leak the active session ID used by...
4  types of attacks one researcher developed a to...

Table #435 from file: Introduction-cyber-security.pdf (Page 120)

                                                   0
0  Due to the nature of activity and criticality ...
1  Enterprise networks have a higher degree of se...
2                    The following are good to have:

Table #436 from file: Introduction-cyber-security.pdf (Page 120)

                                                   0
0   Defining an adequate organization wide Infor...
1                                   wireless network

Table #437 from file: Introduction-cyber-security.pdf (Page 121)

                                                   0     1
0   SSID‟s should not be associated with the org...  None
1  information which would be easy to guess or as...  None
2   Enable WPA2 Enterprise encryption with RADIU...  None
3                   protocol like EAP-TTLS, TLS etc.  None
4   Implementation of PKI infrastructure. CA sig...  None

Table #438 from file: Introduction-cyber-security.pdf (Page 123)

                                                   0
0  Online communities have existed since the inve...
1  boards and email lists, which gave people arou...
2  communicate and to share information about par...
3  websites have greatly expanded the range of po...
4  messages, pictures, files and even up-to-the-m...

Table #439 from file: Introduction-cyber-security.pdf (Page 124)

                                                   0
0  Before you use any social networking site it i...
1  vulnerable, and then take steps to protect you...
2  will help you understand the security implicat...

Table #440 from file: Introduction-cyber-security.pdf (Page 124)

                                                   0
0   Who can access the information I am putting ...
1   Who controls and owns the information I put ...
2   What information about me are my contacts pa...
3   Will my contacts mind if I share information...
4      Do I trust everyone with whom I'm connected?

Table #441 from file: Introduction-cyber-security.pdf (Page 124)

                                                   0
0   Always make sure you use secure passwords to...
1  else does get into your account, they are gain...
2  you and about anyone else you are connected to...
3        passwords regularly as a matter of routine.
4   Make sure you understand the default privacy...

Table #442 from file: Introduction-cyber-security.pdf (Page 125)

                                                   0
0   Most social networks allow you to integrate ...
1  For example you can post an update on your Twi...
2  posted on your Facebook account as well. Be pa...
3  your social network accounts! You may be anony...
4                                when using another.

Table #443 from file: Introduction-cyber-security.pdf (Page 125)

                                                   0
0  Social networking sites ask you for a good dea...
1  other users to find and connect to you. Perhap...
2  of these sites is the possibility of identity ...
3  the more information about yourself you reveal...
4  authorities to identify you and monitor your a...

Table #444 from file: Introduction-cyber-security.pdf (Page 125)

                             0
0                 birth dates
1       contact phone numbers
2                   addresses
3   details of family members
4          sexual orientation

Table #445 from file: Introduction-cyber-security.pdf (Page 125)

                                                   0
0  The first thing you will do after filling in y...
1  application is establish connections to other ...
2  know and trust – but you may also be connectin...
3  individuals that you have never met. The most ...
4  information you are allowing this online commu...

Table #446 from file: Introduction-cyber-security.pdf (Page 126)

                                                   0
0  When using a social network account such as Fa...
1  yourself is held, consider only connecting to ...
2                              information you post.

Table #447 from file: Introduction-cyber-security.pdf (Page 126)

                                                   0
0  On Twitter and Facebook and similar networks, ...
1  am I doing right now? What's happening? The mo...
2  status update is who can actually see it. The ...
3  social networking applications is that anyone ...
4  contacts to see the updates, you need to tell ...

Table #448 from file: Introduction-cyber-security.pdf (Page 126)

                                                   0
0  It's easy to share a link to a website and get...
1  paying attention, and what kind of reaction wi...
2  opposes some position taken by your government...
3  very might well take an interest and target yo...
4                                       persecution.

Table #449 from file: Introduction-cyber-security.pdf (Page 127)

                                                   0
0  Most social networking sites will display your...
1  is generally provided when you use a GPS-enabl...
2  but don't assume that it's not possible if you...
3  your computer is connected to may also provide...
4                     to double-check your settings.

Table #450 from file: Introduction-cyber-security.pdf (Page 127)

                                                   0
0  Photos and videos can reveal people's identiti...
1  consent of the subject/s of any photo or video...
2  someone else, be aware of how you may be compr...
3  or photo of anyone without getting their conse...
4  Photos and videos can also reveal a lot of inf...

Table #451 from file: Introduction-cyber-security.pdf (Page 127)

                                                   0
0  Many social networking sites have tools that a...
1  in real time. These operate like Instant Messa...
2  communicate on the internet, both because they...
3              and what you are communicating about.
4  Connecting to the site via https is a minimum ...

Table #452 from file: Introduction-cyber-security.pdf (Page 127)

                                                   0
0  What information are you giving to people if y...
1  say about you? Alternatively, what are people ...
2  community that you have created? How are you p...

Table #453 from file: Introduction-cyber-security.pdf (Page 128)

                                                   0
0  When you join a community or group online it i...
1  the whole, people may assume that you support ...
2  doing, which could make you vulnerable if you ...
3  political groups, for example. Also if you joi...
4  you don't know, then this can compromise any p...

Table #454 from file: Introduction-cyber-security.pdf (Page 128)

                                                   0
0  1. Don't open email attachments that you are n...
1  someone you do not know. When you open such an...
2  software is up-to-date and pay close attention...
3                                           program.
4  2. You can use anonymity software which can he...

Table #455 from file: Introduction-cyber-security.pdf (Page 129)

                                                   0
0  5. Beware of email scams. Many scam emails pre...
1  other online shops. If you get an email tellin...
2  shut down, or that you need to take immediate ...
3  information, be very suspicious: these message...
4  has you receiving an email from someone you kn...

Table #456 from file: Introduction-cyber-security.pdf (Page 131)

                                                   0
0        A simple exercise can help illustrate this:
1  Empty the content of your wallet or purse, and...
2  may find: - Pictures of loved ones (~5 picture...
3  membership cards, social security cards) - Ins...
4   Money (~5 bills) - Credit/Debit cards (~3 cards)

Table #457 from file: Introduction-cyber-security.pdf (Page 131)

                                                   0
0            Pictures of loved ones (~100 pictures)
1            Email applications and their passwords
2                              Emails (~500 emails)
3                               Videos (~50 videos)
4   Social networking applications and their pas...

Table #458 from file: Introduction-cyber-security.pdf (Page 131)

                                                   0
0  The more you use smartphones, the more you nee...
1  and take appropriate precautions. Smartphones ...
2  your personal data. They are designed to provi...
3  to social networking services by default. This...
4  information that can be aggregated, searched a...

Table #459 from file: Introduction-cyber-security.pdf (Page 132)

                                                   0
0  It can be disastrous if you lose your phone wi...
1  data (such as your contacts) in a secure locat...
2  also know how to restore the data. Keep a hard...
3                     do it quickly in an emergency.
4  In this chapter we'll start by introducing som...

Table #460 from file: Introduction-cyber-security.pdf (Page 132)

                                                   0
0  Regardless what type of smartphone you are usi...
1  of when you use a phone which connects to the ...
2  as GPS or wireless networking capacities. In t...
3  Android platform, because, as mentioned above,...
4  communications. Nonetheless, basic setup guide...

Table #461 from file: Introduction-cyber-security.pdf (Page 132)

                                                   0
0  Another category of mobiles are often called '...
1  increased their functionalities to include tho...
2  phones' operating systems are less accessible,...

Table #462 from file: Introduction-cyber-security.pdf (Page 133)

                                                   0
0  security applications or improvements. We do n...
1  although many measures discussed here make sen...

Table #463 from file: Introduction-cyber-security.pdf (Page 133)

                                                   0
0  Smartphones are usually sold branded or locked...
1  can only be operated with one carrier, whose S...
2  device. Mobile network operators usually brand...
3  software. They may also disable some functiona...
4  companies to increase revenue by channelling y...

Table #464 from file: Introduction-cyber-security.pdf (Page 133)

                                                   0
0  Smartphones have many settings which control t...
1  pay attention to how your smartphone is set up...
2  you to certain smartphone security settings th...
3  as those which are active by default and make ...

Table #465 from file: Introduction-cyber-security.pdf (Page 133)

                                                   0
0  The usual way to install new software on your ...
1  Google Play store, log in with your user crede...
2  application. By logging-in you associate your ...
3  account. The owners of the application store k...
4                               application choices.

Table #466 from file: Introduction-cyber-security.pdf (Page 134)

                                                   0
0  should look for alternative applications with ...
1  may want to consider these alternative sites t...
2  the alternative store is F-Droid ('Free Droid'...
3  However please remember that you should trust ...
4  it. For inexperienced users we recommend that ...

Table #467 from file: Introduction-cyber-security.pdf (Page 136)

                                                   0
0  Here we list a few tools and their pros and cons:
1                                              Skype
2  The most popular commercial VoIP application, ...
3  platforms and works well if your wireless conn...
4                                  data connections.

Table #468 from file: Introduction-cyber-security.pdf (Page 137)

                                                   0
0  Open Secure Telephony Network (OSTN) and the s...
1  project, ostel.co, currently offers one of the...
2  Knowing and trusting the entity that operates ...
3                     is an important consideration.
4  When using CSipSimple, you never directly comm...

Table #469 from file: Introduction-cyber-security.pdf (Page 137)

                                                   0
0  You should use precautions when sending SMS an...
1                                   your smartphone.
2                                                SMS
3  SMS communication is insecure by default. Anyo...
4  telecommunication network can intercept these ...

Table #470 from file: Introduction-cyber-security.pdf (Page 138)

                                                   0
0                                        Secure Chat
1  Instant messaging and chatting on your phone c...
2  of interception. These conversations might be ...
3  You should therefore be extremely wary about w...
4        phone while instant messaging and chatting.

Table #471 from file: Introduction-cyber-security.pdf (Page 138)

                                                   0
0  Smartphones come with large data storage capac...
1  device can be easily accessible by third parti...
2  phone. You can take steps to encrypt any sensi...
3                                    specific tools.

Table #472 from file: Introduction-cyber-security.pdf (Page 138)

                                                   0
0  The Android Privacy Guard (APG) allows OpenGPG...
1  be used to keep your files and documents safe ...

Table #473 from file: Introduction-cyber-security.pdf (Page 138)

                                                   0
0  You can keep all your needed passwords in one ...
1  will only need to remember one master password...

Table #474 from file: Introduction-cyber-security.pdf (Page 139)

                                                   0
0  can use very strong passwords for each account...
1  you, and it also comes with a password generat...
2  synchronise Keepass password databases between...
3  recommned that you synchronise only those pass...
4  mobile phone. You can create a separate smalle...

Table #475 from file: Introduction-cyber-security.pdf (Page 139)

                                                   0
0  In this section we will briefly discuss the us...
1  consider if you really need to use your smartp...
2  and its content is generally simpler than doin...
3  smartphone is more susceptible to theft, monit...
4  If it is absolutely vital that you access your...

Table #476 from file: Introduction-cyber-security.pdf (Page 139)

      0                                                  1
0  None   Do not rely on smartphone as your primary me...
1  None  Downloading (and removing) emails from an emai...
2  None  your smartphone is not advised. You can set up...
3  None                                  copies of emails.
4  None   If you use email encryption with some of you...

Table #477 from file: Introduction-cyber-security.pdf (Page 139)

                                                   0
0  Capturing pictures, video or audio with your S...
1  document and share important events. However, ...
2  privacy and safety of those pictured, filmed o...
3  record video or audio of an important event, i...

Table #478 from file: Introduction-cyber-security.pdf (Page 140)

                                                   0
0  appear in the recordings, if your phone fell i...
1                        suggestions may be helpful:

Table #479 from file: Introduction-cyber-security.pdf (Page 140)

      0                                                  1
0  None   Have a mechanism to securely upload recorded...
1  None  location and remove them from the phone instan...
2  None                                         recording.
3  None   Use tools to blur the faces of those appeari...
4  None  voices of audio or videos recordings and store...

Table #480 from file: Introduction-cyber-security.pdf (Page 140)

                                                   0
0  As discussed in our guide How to keep your Int...
1  guide How to remain anonymous and bypass censo...
2  on the Internet, or publishing material online...
3  who and where you are and what you are doing. ...
4  smartphone to communicate with the Internet ma...

Table #481 from file: Introduction-cyber-security.pdf (Page 140)

                                                   0
0  Smartphones allow you to control how you acces...
1  provided by an access point (such as an intern...
2  as GPRS, EDGE, or UMTS provided by your mobile...
3  Using a WiFi connection reduces the traces of ...
4  phone service provider (by not having it conne...

Table #482 from file: Introduction-cyber-security.pdf (Page 141)

                                                   0
0  Regardless of which path you take for your dig...
1  can reduce your risks of data exposure through...

Table #483 from file: Introduction-cyber-security.pdf (Page 141)

                                                   0
0  To access content online anonymously, you can ...
1  channels your internet communication through T...
2  Another app, Orweb, is a web browser that has ...
3  and not keeping a local browsing history. Orbo...
4       and firewalls, and offer anonymous browsing.

Table #484 from file: Introduction-cyber-security.pdf (Page 141)

                                                   0
0  The mobile version of Firefox – Firefox mobile...
1  direct your traffic to a proxy server. From th...
2  requesting. This is helpful in cases of censor...
3  connection from your client to the proxy is en...
4  on (also from Guardian Project, which makes pr...

Table #485 from file: Introduction-cyber-security.pdf (Page 141)

                                                   0
0  Most Smartphones are capable of more than thei...
1  software (firmware), or the mobile operators' ...
2  functionalities are 'locked in' so the user is...
3  functions, and they remain out of reach. In mo...
4  for smartphone users. There are however, some ...

Table #486 from file: Introduction-cyber-security.pdf (Page 142)

                                                   0
0  applications, make modifications to otherwise ...
1    over data storage and memory of the smartphone.
2  WARNING: Rooting or jailbreaking may not be a ...
3  experience with software installation and conf...

Table #487 from file: Introduction-cyber-security.pdf (Page 142)

                                                   0
0   There is a risk of making your smartphone pe...
1                        turning it into a 'brick').
2   The manufacturer or mobile carrier warranty ...
3       In some places, this process maybe illegal.

Table #488 from file: Introduction-cyber-security.pdf (Page 142)

                                                   0
0  But if you are careful, a rooted device is a s...
1            smartphone to make it much more secure.

Table #489 from file: Introduction-cyber-security.pdf (Page 142)

                                                   0
0  Firmware refers to programmes that are closely...
1  cooperation with the device's operating system...
2  hardware of your smartphone, such as the speak...
3                       memory, keys, antennas, etc.
4  If you have an Android device, you might consi...

Table #490 from file: Introduction-cyber-security.pdf (Page 143)

                                                   0
0  If your phone is rooted you may consider encry...
1  volume on the Smartphone to protect some infor...
2  Luks Manager allows easy, on-the-fly strong en...
3  interface. We highly recommend that you instal...
4  data on your Android device and use the Encryp...

Table #491 from file: Introduction-cyber-security.pdf (Page 143)

                                                   0
0  A VPN provides an encrypted tunnel through the...
1  server. This is called a tunnel, because unlik...
2  services, protocols, and contents. A VPN conne...
3                                        you decide.
4  Note that since all your traffic goes through ...

Table #492 from file: Introduction-cyber-security.pdf (Page 143)

                                             0
0  https://www.youtube.com/watch?v=KCObM4PBTVk
1  https://www.youtube.com/watch?v=V8bCyRCqK0k

In [46]:
# Convert to readable master dataframe
master_dataframe_four = pd.DataFrame([
    {
        'file': rec['file'],
        'page': rec['page'],
        'table': rec['table_data'].to_string(index=False, header=False)
    }
    for rec in table_data_list
])

In [47]:
master_dataframe_four.head()

,file,page,table
0,CYBER SECURITY (R18A0521).pdf,4,S. No Unit ...
1,CYBER SECURITY (R18A0521).pdf,5,Cyber security is the most concerned matter as...
2,CYBER SECURITY (R18A0521).pdf,5,The term cyber security refers to techniques a...
3,CYBER SECURITY (R18A0521).pdf,5,Cyber security is the protection of Internet-c...
4,CYBER SECURITY (R18A0521).pdf,5,Cyber is related to the technology which conta...

In [54]:
# Define output directory
output_dir = r"C:\Users\FINRISE\Desktop\Task data scie\case_study_FTE\case_study_FTE\case_study_1\data\section_two_data"

In [55]:
output_dir

'C:\\Users\\FINRISE\\Desktop\\Task data scie\\case_study_FTE\\case_study_FTE\\case_study_1\\data\\section_two_data'

In [59]:
# Save the first table as a CSV
if table_data_list:
    output_path = os.path.join(output_dir, "sample_table.csv")
    table_data_list[0]['table_data'].to_csv(output_path, index=False, header=False)
    print(f"Table saved at: {output_path}")
else:
    print("No table data found.")

Table saved at: C:\Users\FINRISE\Desktop\Task data scie\case_study_FTE\case_study_FTE\case_study_1\data\section_two_data\sample_table.csv